body{
    font-family:consolas;
    background:linear-gradient(to bottom,white,rgb(214, 245, 214));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
}
header{
    color:white;
    background-color: green;
    font-family:consolas;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid green;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    border-radius: 5px;
    border: 2px solid green;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;


}

td,th{
    border-style: solid;
}
table{
    border-collapse: collapse;
}

.container{
    background:linear-gradient(to bottom,white,rgb(214, 245, 214));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-style:ridge;
    border-color: green;
    border-width: 1px;
    
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-size: larger;
}
h2{
    color: green;
}

#grading-scale-container{
    padding: 10px;
    margin-bottom: 20px;
}
#calculate-cgpa-container,#calculate-gpa-container,#predict-cgpa-container,#progress-chart-container{
    padding: 10px;
    margin-bottom: 20px;
}
#footer-container{
    text-align: center;
    color: white;
    background-color: black;
    border-top: 1px solid green;
    padding: 10px;

}

@media (max-width: 600px) {
    header {
        font-size: 12px;
        padding: 10px;
    }
    .container {
        width: 100%;
        padding: 12px;
    }
    table, th, td {
        font-size: 8px;
    }
    #footer-container {
        font-size: 10px;
        padding: 5px;
    }
}


