header{
    font-family:consolas;
    background-color: rgb(29, 134, 29);
    height: 45px;
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    position:fixed;
    
    top: 0;
    left:0;
        }

#header-button{
    background-color: rgb(81, 190, 81);
    color:white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    
   

}
main{
    margin-top: 70px;
}
a{
    text-decoration: none;
    
}

body{
    font-family: consolas;
    background:linear-gradient(to bottom,white,rgb(214, 245, 214));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}

th,td{
    border-style: solid;
    overflow: hidden;
    
}
table{
    border-collapse: collapse;
    width: 100%;
}

.course-container , .course-unit-container ,.grade-option-container{
    width: 100%;
    border: none;
    outline: none;
    
    
}

#add-semester-button{
    background-color: rgb(34,197,94);
    color:white;
}

#remove-semester-button{
    background-color: rgb(249,115,22) ;
    color:white;
}
#calculate-cgpa-button{
    background-color: rgb(124,58,237) ;
    color:white;
}
.button-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    color:white;
    
}
.delete-all-courses-button{
    background-color: rgb(220,38,38);
    color:white;

}
.calculate-gpa-button{
    background-color: rgb(37,99,235);
    color:white;

}
.add-course-button{
    background-color: rgb(251,191,36);
    color:white;

}
.details-container{
    border-style: ridge;
    border-width: 1px;
    border-color: green;
    background-color: white;
}
h2{
    color: green;
}
button{
    border: none;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    opacity: 0.8;
}
div{
    margin: 10px;
}
.gpa-container,#cgpa-container{
    color: green;
    font-weight: bold;
    font-size: 25px;
}


@media (max-width: 600px) {
    header {
        font-size: 12px;
        padding: 10px;
    }
    .container {
        width: 100%;
        padding: 12px;
    }
 
   
}




